#hero-button{
    font-family: 'Garamond', serif;
    font-weight: 600;
    font-size: 14pt;
    background-color: #feb246;
    color: #1b1b1b;
    border-color: #feb246;
}

#hero-button:hover{
    background-color: #ffce89;
    color: #1b1b1b;
    border-color: #ffce89;
}

hr.h1-decorations-1{
    border: 3px solid #ccc;
    width: 100%;
    opacity: 70%;
    margin-bottom: 10px;
  }

.h1-title{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}

.section-part{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 9%;
    margin-right: 10%;
}

p{
    font-family: 'Garamond', serif; 
    font-size: 1em;
}

.justified-text {
    text-align: justify;
  }

#simple-button{
    font-family: 'Garamond', serif;
    font-weight: 600;
    font-size: 14pt;
    background-color: #feb246;
    color: #1b1b1b;
    border-color: #feb246;
}

#simple-button:hover{
    background-color: #ffce89;
    color: #1b1b1b;
    border-color: #ffce89;
}

#learn-more{
    margin-top: 30px;
}
  
#Hero{
    background-color: #ffffff;
    padding-bottom: 10px;
    padding-top: 75px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center{
    text-align: center;
}

.affiliation-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

.logo-row {
    display: flex;
    gap: 3rem; /* Space between logos */
    flex-wrap: wrap; /* Makes it responsive */
    justify-content: center;
}

.logo {
    max-height: 130px; /* Adjust the size of the logos */
    transition: transform 0.3s ease; /* Add hover effect */
}

.logo:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo {
        max-height: 680px; /* Smaller logos on smaller screens */
    }
}

.text-center{
    text-align: center;
}

.interested-text{
    font-family: 'garamond', 'serif';
    font-weight: 500;

}
